@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="container mt-4">
    <h2 class="text-center text-primary">THÔNG TIN SINH VIÊN DỰ THI</h2>
    <hr />

    <div class="card shadow p-4 mt-3" style="border-radius: 12px;">
        <h4>Họ và tên: <span class="text-dark">Trần Văn Điểm</span></h4>
        <h4>Mã sinh viên: <span class="text-dark">231230742</span></h4>
        <h4>Lớp: <span class="text-dark">CNTT2K64</span></h4>
        <h4>Ngành học: <span class="text-dark">Công nghệ thông tin</span></h4>
        <h4>Email: <span class="text-dark">tranvandiem191@gmail.com</span></h4>
        <h4>Số điện thoại: <span class="text-dark">0326661677</span></h4>
    </div>

    <div class="text-center mt-4">
        <a asp-controller="hvtHome" asp-action="hvtIndex" class="btn btn-primary">
            ← Quay lại trang chủ
        </a>
    </div>
</div>
